

.songCards{
    margin: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    margin: 2em;
}

.card{
    background-color: rgb(215,215,215);
    border-radius: 10%;
    /* padding: 2em;
    margin: 2em; */
    flex-grow: 1;
    width:30%;
    margin: 1em;
}

.songListContainer{
    background-color: rgb(245,245,245);
    margin: 0 6em 0 6em ;
    /* height: 100%; */
    padding-left: 4em;
}



.genreTypeText{
    color: black;
    font-family:Poppins;
    font-weight: bold;
    font-size: 3em;
}