@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


.buttonStyle{
    background-color: rgb(93, 209, 51);
    border-radius: 100px 100px 100px 100px;
    padding: 10px 60px;
    color: white;
    font-family:'Poppins';
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}