@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App {

  height: 100%;
    margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.headerText{
  background-color: rgb(71,151,53);
  color: white;
    font-family:'Poppins';
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  
}
.recordText{
  font-weight: bolder;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,body{
  height: 100%;
  margin: 0;
  }
  #root{
    height: 100%;
    margin: 0;
  }

