.App {
  text-align: center;
  height: 100%;
    margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header{
  background-color: rgb(71,151,53);
  color: white;
    font-family:Poppins;
    font-weight: bold;
    font-size: large;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,body{
  height: 100%;
  margin: 0;
  }
  #root{
    height: 100%;
    margin: 0;
  }

